In [1]:
import datapungi_fed as dpf
import numpy as np
import pandas as pd

from api_keys import fred_api_key

In [2]:
data = dpf.data(fred_api_key)

In [3]:
keys = ["DBAA", "BAMLH0A3HYCEY", "USD3MTD156N", "DGS10", "T10Y2Y", "gdp", "gnp"]


df0 = data.series("AAA")

for key in keys:
    df1 = data.series(key)
    df0 = pd.merge(df0, df1, on="date", how="outer")
      
df0 = df0.reset_index()
df0.head()

        date   AAA  DBAA  BAMLH0A3HYCEY  USD3MTD156N  DGS10  T10Y2Y  gdp  gnp
0 1919-01-01  5.35   NaN            NaN          NaN    NaN     NaN  NaN  NaN
1 1919-02-01  5.35   NaN            NaN          NaN    NaN     NaN  NaN  NaN
2 1919-03-01  5.39   NaN            NaN          NaN    NaN     NaN  NaN  NaN
3 1919-04-01  5.44   NaN            NaN          NaN    NaN     NaN  NaN  NaN
4 1919-05-01  5.39   NaN            NaN          NaN    NaN     NaN  NaN  NaN

In [4]:
master_df = pd.DataFrame({
    "Date": df0["date"],
    "AAA Corp Yield": df0["AAA"],
    "BBB Corp Yield": df0["DBAA"],
    "CCC Corp High Yield": df0["BAMLH0A3HYCEY"],
    "3-Month LIBOR": df0["USD3MTD156N"],
    "10-Yr Treas Yld": df0["DGS10"],
    "10Yr - 2Yr Treas Yld": df0["T10Y2Y"],
    "US GDP": df0["gdp"],
    "US GNP": df0["gnp"]
})

master_df = master_df.sort_values(by=["Date"])
master_df.head(5)

,Date,AAA Corp Yield,BBB Corp Yield,CCC Corp High Yield,3-Month LIBOR,10-Yr Treas Yld,10Yr - 2Yr Treas Yld,US GDP,US GNP
0,1919-01-01,5.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1919-02-01,5.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1919-03-01,5.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1919-04-01,5.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1919-05-01,5.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
column_value = master_df[master_df["Date"] < "1997-04-01"].index
master_df.drop(column_value, inplace=True)
master_df = master_df.set_index("Date")
master_df.head(5)

,AAA Corp Yield,BBB Corp Yield,CCC Corp High Yield,3-Month LIBOR,10-Yr Treas Yld,10Yr - 2Yr Treas Yld,US GDP,US GNP
Date,,,,,,,,
1997-04-01,7.73,8.31,13.73,5.81250,6.90,0.48,8518.825,8549.503
1997-04-02,NaN,8.31,13.78,5.81250,6.88,0.46,NaN,NaN
1997-04-03,NaN,8.31,13.81,5.81250,6.86,0.46,NaN,NaN
1997-04-04,NaN,8.38,13.78,5.81250,6.92,0.48,NaN,NaN
1997-04-07,NaN,8.34,13.76,5.81641,6.87,0.46,NaN,NaN