In [5]:
import datapungi_fed as dpf

from api_keys import fred_api_key

In [8]:
data = dpf.data(fred_api_key)

In [13]:
data.series('gdp')

                  gdp
date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2019-01-01  21098.827
2019-04-01  21340.267
2019-07-01  21542.540
2019-10-01  21729.124
2020-01-01  21537.940

[293 rows x 1 columns]